nav{
    display: flex;
}
.nav-items{
    display: flex;
    margin: auto;
    gap: 60px;
    margin-top: 15px;
}
.nav-item{
    font-size: 15px;
    font-weight: 400;
    font-family: Poppins;
    color: rgb(145, 146, 147);
}
img:first-child{
    margin-left: 60px;
    margin-top: 18px;
    width: 100px;
}
.nav-item:hover{
    color: rgb(255, 69, 2);
    
}
nav img:last-child{
    width: 300px;
    margin-top: 20px;
}
h3 img:first-child{
    position: absolute;
    width: 50px;
    margin-left: 1%;
    margin-top: 3%;
}
h3{
    position: absolute;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 300;
    margin-left: 5%;
    top: 2%;
}
.left-section{
    position: absolute;
}
h1{
    margin-left: 5%;
    font-family: Fredoka One;
    font-size: 65px;
    margin-top: 15%;
    height: 40px;
}
.sub-headline img{
    background-color: rgb(255, 69, 2);
    width: 20px;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 1%;
}
.sub-headline{
    font-family: Poppins;
    height: 25px;
    /* margin-left: 10px; */
}
.text{
    font-family: Poppins;
    color: rgb(179, 181, 181);
    margin-top: 10%;
    margin-left: 5%;
    font-size: 15px;
}
p{
    width: 740px;
}
.action-btns{
    margin-left: 5%;
    margin-top: 5%;
}
.action-btn{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    font-family: Poppins;
    border: none;
    border-radius: 25px;
}
.action-btns button:last-child{
    margin-left: 2%;
}
.headphone-div{
    position: absolute;  
    display: flex;
    margin-left: 55%;
    /* border: 2px solid red; */
}
.headphone-div img:last-child{
    width: 500px;
    margin-top: -0%;
}
.headphone-div img:first-child{
    position: absolute;
    margin-top: 60%;
    margin-left: -5%;
    width: 130px;
    
}
.discount-content{
    /* border: 2px solid blue; */
    position: absolute;
    top: 63%;
    color: white;
    line-height: .5;
}
.discount-content h1{
    font-size: 45px;
    font-weight: 300;
    margin-left: -2px;
}
.discount-content h4{
    font-family: Poppins;
    font-weight: 200;
    font-size: 15px;
    margin-left: 20%;
}
.right-section button:last-child{
    margin-top: 34%;
    margin-left: 67.5%;
    position: absolute;
}
.dots{
    position: absolute;
    top: 80%;
    left: 68.5%;
}
.dot{
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    
}
.yellow-dot{
    background-color: yellow;
    
}
.tomato-dot{
    background-color: tomato;
    margin-left: 40px;
}
.black-dot{
    background-color: black;
    margin-left: 80px;
}